:root {
    --main-color: rgb(162, 162, 162);
    --secondary-color: rgb(9, 9, 9);
    --hover-color: rgb(69, 121, 176);
}

html, body {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--main-color);
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
}

button:hover {
	cursor: pointer;
    color: var(--hover-color);
}

#nav-bar {
    width: 100%;
    height: 64px;
    display: flex;
    font-size: 1.25rem;
    border-bottom: solid var(--main-color) 1px;
}

#nav-bar-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    gap: 2rem;
}

li {
    width: 100%;
    display: inline-block;
    text-align: center;
}

li > button.active {
    color: var(--secondary-color);
}

#nav-slider {
    position: absolute;
    height: 2px;
    left: 0px;
    width: 0px;
    background: var(--secondary-color);
    top: 64px;
    transition: 0.5s ease-in-out;
    border-radius: 4px;
}

#menu-burger {
    font-size: 1.25rem;
    display: none;
}

#clock-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#clock {
    font-size: 3rem;
}

#location {
    margin-top: 3rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

#date {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

#blur-screen {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

@media screen and (max-width: 992px) {
    #nav-bar {
        border: none;
    }

    #menu-burger {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        margin-right: 1rem;
        margin-top: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    #nav-slider {
        display: none;
    }
    
    #nav-bar #nav-bar-list,
    #nav-bar.nav-active #nav-bar-list {
        visibility: visible;
        background: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        position: fixed;
        right: 0%;
        width: 40%;
        flex-direction: column;
        justify-content: start;
        padding: 0;
        padding-top: 65px;
        transition: all 400ms;
        height: 100%;
        border-left: solid var(--main-color) 1px;
        transition: 0.35s ease-in-out;
    }

    #nav-bar #nav-bar-list {
        visibility: hidden;
        right: -100%;
    }

    li > button {
        border-bottom: solid rgba(9, 9, 9, 0) 2px;
    }

    li > button.active {
        border-bottom: solid var(--secondary-color) 2px;
    }

    #location {
        display: flex;
    }

    #blur-screen.screen-active {
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    #nav-bar.nav-active #nav-bar-list {
        width: 100%;
    }

    #blur-screen {
        display: none;
    }
}